#videoContainer {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    i {
      cursor: pointer;
      font-size: 30px;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: none;
    padding: 10px;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 14px;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        padding-left: 35px;
        i {
          font-size: 20px;
        }
      }
    }
    input[type="range"] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      overflow: hidden;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #50555c;
      background: #50555c;
      border-radius: 40px;
      border: 0px solid #000000;
    }
    input[type="range"]::-webkit-slider-thumb {
      box-shadow: -100vw 0 0 100vw $blue;
      border: 0px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 5px;
      background: $blue;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4.5px;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #50555c;
    }
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #50555c;
      background: #50555c;
      border-radius: 40px;
      border: 0px solid #000000;
    }
    input[type="range"]::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 5px;
      background: $blue;
      cursor: pointer;
    }
    input[type="range"]::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
      background: $blue;
      border: 0px solid #000000;
      border-radius: 42px;
      box-shadow: 1px 1px 1px #50555c;
    }
    input[type="range"]::-ms-fill-upper {
      background: #50555c;
      border: 0px solid #000000;
      border-radius: 42px;
      box-shadow: 1px 1px 1px #50555c;
    }
    input[type="range"]::-ms-thumb {
      margin-top: 1px;
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 10px;
      background: $blue;
      cursor: pointer;
    }
    input[type="range"]:focus::-ms-fill-lower {
      background: #50555c;
    }
    input[type="range"]:focus::-ms-fill-upper {
      background: #50555c;
    }
    input {
      background: transparent;
      border: none;
    }
  }
}
