doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Smashtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        block content
    include partials/footer.pug