extends base
include mixins/video

block content 
    form(method="GET").search__form
        input(name="keyword",placeholder=" 제목으로 검색",type="text")
        button
            i.fas.fa-search

    div.video_grid
        each video in videos
            +video(video)
        else
            span.empty_message 비디오를 찾지 못했습니다.