html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_logo {
  color: #00a8ff;
  font-size: 38px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header ul .header_btn {
  background-color: white;
  color: #191919;
  padding: 5px 10px;
  border-radius: 5px;
}
header ul .header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 50px;
}

.video_mixin .video_mixin_thumb {
  height: 140px;
  border-radius: 7px;
  width: 100%;
  background-color: ivory;
}
.video_mixin .video_mixin_data {
  padding: 0px 15px;
}
.video_mixin .video_mixin_data .video_mixin_title {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
.video_mixin .video_mixin_data .video_mixin_meta {
  margin-top: 5px;
  font-size: 12px;
}

.empty_message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video_grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
}
.auth-switch a {
  text-decoration: underline;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

form {
  max-width: 420px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
  all: unset;
  border-radius: 5px;
  padding: 2px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type=submit],
.social__btn {
  background-color: rgba(0, 168, 255, 0.9);
  border-radius: 5px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
  margin-top: 30px;
}
.social-login .social__btn--github {
  background-color: #24883b;
}

#videoContainer {
  width: 100%;
  position: relative;
}
#videoContainer video {
  width: 100%;
}
#videoContainer .videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  background-color: none;
  padding: 10px;
  box-sizing: border-box;
}
#videoContainer .videoControls.showing {
  opacity: 1;
}
#videoContainer .videoControls i {
  cursor: pointer;
  font-size: 30px;
}
#videoContainer .videoControls .videoControls__play {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#videoContainer .videoControls .videoControls__play .videoControls__playBtn {
  margin: 0px 15px;
}
#videoContainer .videoControls .videoControls__play .videoControls__time {
  font-size: 14px;
}
#videoContainer .videoControls .videoControls__volume {
  display: flex;
  align-items: center;
}
#videoContainer .videoControls .videoControls__volume span {
  padding-left: 35px;
}
#videoContainer .videoControls .videoControls__volume span i {
  font-size: 20px;
}
#videoContainer .videoControls input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
}
#videoContainer .videoControls input[type=range]:focus {
  outline: none;
}
#videoContainer .videoControls input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 40px;
  border: 0px solid #000000;
}
#videoContainer .videoControls input[type=range]::-webkit-slider-thumb {
  box-shadow: -100vw 0 0 100vw #00a8ff;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: #00a8ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
#videoContainer .videoControls input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555c;
}
#videoContainer .videoControls input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 40px;
  border: 0px solid #000000;
}
#videoContainer .videoControls input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: #00a8ff;
  cursor: pointer;
}
#videoContainer .videoControls input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#videoContainer .videoControls input[type=range]::-ms-fill-lower {
  background: #00a8ff;
  border: 0px solid #000000;
  border-radius: 42px;
  box-shadow: 1px 1px 1px #50555c;
}
#videoContainer .videoControls input[type=range]::-ms-fill-upper {
  background: #50555c;
  border: 0px solid #000000;
  border-radius: 42px;
  box-shadow: 1px 1px 1px #50555c;
}
#videoContainer .videoControls input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #00a8ff;
  cursor: pointer;
}
#videoContainer .videoControls input[type=range]:focus::-ms-fill-lower {
  background: #50555c;
}
#videoContainer .videoControls input[type=range]:focus::-ms-fill-upper {
  background: #50555c;
}
#videoContainer .videoControls input {
  background: transparent;
  border: none;
}

.search__form {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
}
.search__form button {
  all: unset;
}
.search__form button {
  position: absolute;
  right: 15px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile__data img {
  margin-bottom: 10px;
}
.profile__data h3 {
  font-size: 18px;
}

.edit-profile__form label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
}
.edit-profile__password a {
  text-decoration: underline;
}

.upload__container {
  width: 100%;
}
.upload__container .upload__video {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload__container .upload__video video {
  max-width: 100%;
  margin-bottom: 10px;
}

.social__btn {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: white !important;
  color: #ff1300 !important;
  text-align: center !important;
  cursor: pointer;
  display: block;
  border: none;
}
.social__btn:focus {
  outline: none;
}
.social__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #191919;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
